@import '@angular/material/prebuilt-themes/indigo-pink.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background-color: #f5f5f5;
}

// Material Design overrides
.mat-mdc-form-field {
  width: 100%;
}

.full-width {
  width: 100%;
}